<h1>Chat Room Dawgs in the Hizzee</h1>
<div id='messages'>
  <%= render @messages %>
</div>

<div id='messages2'>
  <%= render @messages %>
</div>

<div id='player1'>
  <form>
    <label>Chat hur:</label><br>
    <textarea data-behavior='room_speaker'></textarea>
  </form>
</div>

<div id='player2'>
  <form>
    <label>Chat hur:</label><br>
    <textarea type='text' data-behavior='room_speaker'></textarea>
  </form>
</div>